body {
    background-color: lightgray;
  }
  
  h1 {
    color: blue;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
  }
  
  p {
    color: green;
    font-size: 18px;
    text-align: left;
    font-weight: normal;
  }
  
  .empty-div {
    width: 700px;
    height: 400px;
    background-image: url(./img/Pastor-Chris-Oyakhilome.webp);
  }
  